In [1]:
# Series 데이터타입: 동일 자료형을 가지는 1차원 데이터
# Series가 모여서 DataFrame을 구성한다

#리스트 자료를 Series 클래스에 전달해서  생성한다
import pandas as pd
s = pd.Series(["홍길동", 28])

In [5]:
# ./data/thieves.txt 를 불러서 정제과정 -> thieves.cvs 저장
import pandas as pd
thieves_df = pd.read_csv("./data/thieves.txt", 
                         header=None, # 데이터에 header가 없음
                         sep="\t")    # 데이터가 탭으로 구분되어 있음을 알림
thieves_df

     0      1     2
0  홍길동  175.8  73.2
1  전우치  170.2  66.3
2  임꺽정  186.7  88.2
3  장길산  188.3  90.0

In [7]:
# 첫번째 컬럼은 인덱스로 활용
thieves_df2 = pd.read_csv("./data/thieves.txt",
                         header=None,
                         sep="\t",
                         index_col=0) # 첫번째 컬럼을 인덱스 컬럼으로 활용
thieves_df2

         1     2
0
홍길동  175.8  73.2
전우치  170.2  66.3
임꺽정  186.7  88.2
장길산  188.3  90.0

In [8]:
thieves_df2.loc['홍길동']

1    175.8
2     73.2
Name: 홍길동, dtype: float64

In [9]:
# 컬럼정보 확인
print("Colums:",thieves_df2.columns)

Colums: Int64Index([1, 2], dtype='int64')

In [10]:
thieves_df2.columns = ["height", "weight"]
thieves_df2

     height  weight
0
홍길동   175.8    73.2
전우치   170.2    66.3
임꺽정   186.7    88.2
장길산   188.3    90.0

In [12]:
# 인덱스의 컬럼명 변경
thieves_df2.index.name = "Name"
thieves_df2

      height  weight
Name
홍길동    175.8    73.2
전우치    170.2    66.3
임꺽정    186.7    88.2
장길산    188.3    90.0

In [15]:
# 완성된 데이터를 /data/thieves_modify.csv
thieves_df2.to_csv("./data/thieves_modify.csv",encoding="utf-8")

In [16]:
# 결측치: 비어있는 데이터
import pandas as pd
from numpy import nan, NaN, NAN

exam_scores = pd.Series([90, 80, 120, nan, 95, 80, -10])
exam_scores

0     90.0
1     80.0
2    120.0
3      NaN
4     95.0
5     80.0
6    -10.0
dtype: float64

In [19]:
# 결측치 확인
print(pd.isnull(exam_scores))
# 결측치가 아닌 것 확인
pd.notnull(exam_scores)

0    False
1    False
2    False
3     True
4    False
5    False
6    False
dtype: bool

0     True
1     True
2     True
3    False
4     True
5     True
6     True
dtype: bool

In [20]:
# 결측 빈도 확인: count_nonzero
import numpy as np
print("결측 빈도:", np.count_nonzero(exam_scores.isnull()))

결측 빈도: 1

In [22]:
# 이상치를 -> 결측치로 대체
# 결측치를 -> 중앙 값을 대체한 후
# 최종 평균값

# 이상치를 결측치로 변환
exam_scores.isin(range(0, 101)) # 0~100사이에 있는지
~exam_scores.isin(range(0, 101)) # 0~100사이에 범주를 벗어난 데이터 판별

0    False
1    False
2     True
3     True
4    False
5    False
6     True
dtype: bool

In [23]:
# 이상치를 결측치로 대체
exam_scores[~exam_scores.isin(range(0, 101))] = nan
exam_scores

0    90.0
1    80.0
2     NaN
3     NaN
4    95.0
5    80.0
6     NaN
dtype: float64

In [25]:
# 이상치를 결측치로 대체한 데이터셋의 통계
print("기초통계량:\n", exam_scores.describe())
print("산술평균:", exam_scores.mean())

기초통계량:
 count     4.00
mean     86.25
std       7.50
min      80.00
25%      80.00
50%      85.00
75%      91.25
max      95.00
dtype: float64
산술평균: 86.25

In [27]:
# 결측치를 중앙 값으로 대체
exam_scores[exam_scores.isnull()] = exam_scores.median()
exam_scores

0    90.0
1    80.0
2    85.0
3    85.0
4    95.0
5    80.0
6    85.0
dtype: float64

In [28]:
# 결측치를 중앙값으로 대체한 데이터셋의 평균값
print("평균:", exam_scores.mean())

평균: 85.71428571428571